<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tv.danmaku.ijk.media.widget"
    tools:overrideLibrary="tv.danmaku.ijk.media.widget"
    android:versionName="0.3.0">




</manifest>